@tailwind base;
@tailwind components;
@tailwind utilities;

body {
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.banner-mask {
  background: linear-gradient(
    180deg,
    rgba($color: #fff, $alpha: 0.6) 0%,
    rgba($color: #fff, $alpha: 0) 60%
  );
  transform: rotate(180deg);
}

.bg-choice-container {
  background: linear-gradient(180deg, rgba(239, 241, 253, 0) 0%, #eff1fd 45%);
}

.hover-link {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 1px;
    background: #5d4043;
    transform: scaleX(0);
    transform-origin: center center;
    transition: transform 0.3s;
  }
  &:hover::before {
    transform: scaleX(1);
  }
}
