@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

body {
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.banner-mask {
  background: linear-gradient(
    180deg,
    rgba($color: #fff, $alpha: 0.6) 0%,
    rgba($color: #fff, $alpha: 0) 60%
  );
  transform: rotate(180deg);
}

.hover-link {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 1px;
    background: #5d4043;
    transform: scaleX(0);
    transform-origin: center center;
    transition: transform 0.3s;
  }
  &:hover::before {
    transform: scaleX(1);
  }
}

// Flavors Section
.flavor {
  &-image {
    transition: 0.3s ease-in-out;
  }
  &-shadow {
    transition: 0.3s ease-in-out;
  }
  &-card {
    transition: 0.3s ease-in-out;
  }
  &:hover {
    .flavor-image {
      transform: translateY(-30px);
    }
    .flavor-shadow {
      transform: scale(1.2);
    }
    .flavor-card {
      opacity: 1;
    }
  }
  &:nth-child(1),
  &:nth-child(2),
  &:nth-child(3),
  &:nth-child(4) {
    &:hover {
      .flavor-card {
        transform: scale(1.2) translateX(50%) translateY(-40px);
      }
    }
  }
  &:nth-child(5),
  &:nth-child(6),
  &:nth-child(7),
  &:nth-child(8) {
    &:hover {
      .flavor-card {
        transform: scale(1.2) translateX(-50%) translateY(-40px);
      }
    }
  }
}

// Bento Section
.bento {
  display: grid;
  grid-gap: 1rem;
  grid-template-areas:
    "a b b"
    "a c d"
    "e e f";
  &-item {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    overflow: hidden;
    flex-shrink: 0;
    padding: 2rem;
    cursor: pointer;
    //border: 2px solid #fff;
    &:nth-child(1) {
      grid-area: a;
      .bento-item-a-image {
        transform-origin: center;
        transition: 0.3s ease-in-out;
      }
      &:hover .bento-item-a-image {
        transform: translateX(30px) scale(1.8) rotate(5deg);
      }
    }
    &:nth-child(2) {
      grid-area: b;
      img {
        transform: translateX(8rem) scale(1.5);
        transition: 0.3s ease-in-out;
      }
      &:hover img {
        transform: translateX(20rem) scale(2);
      }
    }
    &:nth-child(3) {
      grid-area: c;
      .bento-item-c-image {
        transform-origin: center;
        transition: 0.3s ease-in-out;
      }
      &:hover .bento-item-c-image {
        transform: translateX(-50%) scale(1.2) rotate(10deg);
      }
    }
    &:nth-child(4) {
      grid-area: d;
      .bento-item-d-image {
        transform-origin: center;
        transition: 0.3s ease-in-out;
      }
      &:hover .bento-item-d-image {
        transform: translateY(-30px) scale(1.2) rotate(5deg);
      }
    }
    &:nth-child(5) {
      grid-area: e;
      img {
        transform: translateX(18rem) scale(1.6);
        transition: 0.3s ease-in-out;
      }
      &:hover img {
        transform: translateX(12rem) scale(1.6);
      }
    }
    &:nth-child(6) {
      grid-area: f;
    }
  }
}

// Swiper JS
.swiper {
  height: 100% !important;
  width: 100% !important;
  overflow: hidden !important;
  .swiper-container {
    height: 100% !important;
    width: 100% !important;
    .swiper-wrapper {
      height: 100% !important;
      .swiper-slide {
        height: 100% !important;
        width: 100% !important;
      }
    }
  }
  .swiper-pagination-bullet {
    opacity: 0.25;
  }
  .swiper-pagination-bullet-active {
    background: #30171b;
    opacity: 1;
  }
}
