@tailwind base;
@tailwind components;
@tailwind utilities;

body {
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.banner-mask {
  background: linear-gradient(
    180deg,
    rgba($color: #fff, $alpha: 0.6) 0%,
    rgba($color: #fff, $alpha: 0) 60%
  );
  transform: rotate(180deg);
}

.hover-link {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 1px;
    background: #5d4043;
    transform: scaleX(0);
    transform-origin: center center;
    transition: transform 0.3s;
  }
  &:hover::before {
    transform: scaleX(1);
  }
}

.bento {
  display: grid;
  grid-gap: 1rem;
  grid-template-areas:
    "a b b"
    "a c d"
    "e e f";
  &-item {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    overflow: hidden;
    flex-shrink: 0;
    padding: 2rem;
    border: 2px solid #fff;
    &:nth-child(1) {
      grid-area: a;
    }
    &:nth-child(2) {
      grid-area: b;
    }
    &:nth-child(3) {
      grid-area: c;
    }
    &:nth-child(4) {
      grid-area: d;
    }
    &:nth-child(5) {
      grid-area: e;
    }
    &:nth-child(6) {
      grid-area: f;
    }
  }
}

.swiper {
  height: 100% !important;
  width: 100% !important;
  overflow: hidden !important;
  .swiper-container {
    height: 100% !important;
    width: 100% !important;
    .swiper-wrapper {
      height: 100% !important;
      .swiper-slide {
        height: 100% !important;
        width: 100% !important;
      }
    }
  }
  .swiper-pagination-bullet {
    opacity: 0.25;
  }
  .swiper-pagination-bullet-active {
    background: #30171b;
    opacity: 1;
  }
}
